In [26]:
a=[1,2,-1,-4]
a[-1]

-4

In [14]:
for i in a:
    print(i)
    break

1

In [16]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
for i in range(len(a)):
    print(i)

0
1
2
3

In [21]:
for i in range(len(a)):
    print(a[i])

1
2
-1
-4

In [27]:
for i in range(len(a)):
    print(a[i])
    if a[i]<0:
        a[i]=0
print(a)

1
2
-1
-4
[1, 2, 0, 0]

In [12]:
a[0]

1

In [15]:
for i in a:
    print(i)
    continue

1
2
-1
-4

In [28]:
# For list compresssion
square=[]
for i in range(0,10):
    square.append(i*i)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
# Sort complex iterable with sorted
data=[3,4,5,6,8,2,5,52,25]
sorted_data=sorted(data)
print(sorted_data)

[2, 3, 4, 5, 5, 6, 8, 25, 52]

In [32]:
# Sort complex iterable with sorted with reversed
data=[3,4,5,6,8,2,5,52,25]
sorted_data=sorted(data,reverse=True)
print(sorted_data)

[52, 25, 8, 6, 5, 5, 4, 3, 2]

In [36]:
data=[{"name":"max","age":20},{"name":"r4v","age":15},{"name":"try","age":17}]
print(data)
sorted_data=sorted(data,key=lambda x:x['age'])
print(sorted_data)

[{'name': 'max', 'age': 20}, {'name': 'r4v', 'age': 15}, {'name': 'try', 'age': 17}]
[{'name': 'r4v', 'age': 15}, {'name': 'try', 'age': 17}, {'name': 'max', 'age': 20}]

In [37]:
## Unique list
my_list=[1,2,3,2,2,5,8,9,6,2,4]
ty=set(my_list)
print(ty)

{1, 2, 3, 4, 5, 6, 8, 9}

In [38]:
# Save memory with generator

In [41]:
my_list=[i for i in range(1,10000)]
print(sum(my_list))

49995000

In [43]:
# Print default value of dictonary
my_dict={"item":"rv","price":10}
print(my_dict)
count=my_dict.get('count',0)
print(count)

{'item': 'rv', 'price': 10}
0

In [51]:
# Count of the elements
from collections import Counter
my_list=[1,2,3,54,5,6,7,8,7]
counter=Counter(my_list)
print(counter)
most_common=counter.most_common(2)
print(most_common)

Counter({7: 2, 1: 1, 2: 1, 3: 1, 54: 1, 5: 1, 6: 1, 8: 1})
[(7, 2), (1, 1)]

In [52]:
name='jagdish'
print(name)

jagdish

In [55]:
#i=9
#print(f"{i} squared is {i*i})

In [54]:
i=9
print(f"{i} squared is {i*i}")

9 squared is 81

In [57]:
#list_of_string
l1=['jagdish','bhapkar']
l2=' '.join(l1)
print(l2)

jagdish bhapkar

In [60]:
# Merge 2 dictonaries in python
a={'a':'jagu','b':'raghu','c':'pritum'}
print(a)
b={'b':'rgg','ff':'nn'}
c={**a,**b}
print(c)

{'a': 'jagu', 'b': 'raghu', 'c': 'pritum'}
{'a': 'jagu', 'b': 'rgg', 'c': 'pritum', 'ff': 'nn'}